.custom-divider {
  background-color: #e0e0e0;
}

.custom-divider--vertical {
  width: 1px;
  height: 45px;
  margin: 0 8px;
}

.custom-divider--horizontal {
  width: 100%;
  height: 1px;
  margin: 8px 0;
}
